.singleUserMainDiv{
    text-align: center;
    background-color: rgba(197, 231, 231, 0.711);
    width: 100%;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.dataPosts{
   margin-left: -10%;
}