.formDivReset{
    text-align: center;
    margin-top: 10rem;
    margin-left: 25rem;
    width: 32%;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
} 
.formDivReset input{
    border: none;
    border-bottom: 1px solid rgb(69, 66, 66);
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
}
.formDivReset input::placeholder{
    text-align: left;
}
.resetbtn{
    background-color: rgb(174, 180, 174);
    height: 2rem;
    width: 8rem;
    border: none;
    cursor: pointer;
} 
.returnbtn{
    background-color: rgb(174, 180, 174);
    height: 2rem;
    border: none;
    width: 6rem;
    cursor: pointer;
} 
.vsign{
    background-image: url('../../vSign_input.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}